{
  "presets": [
    [
      "next/babel",
      {
        "targets": {
          "browsers": {
            "production": [
              ">0.75%",
              "not ie 11",
              "not op_mini all"
            ],
            "development": [
              "last 1 chrome version",
              "last 1 firefox version",
              "last 1 safari version"
            ]
          }
        }
      }
    ]
  ]
}